
.App {
  width: 550px;
  margin: 0 auto;
  background-color: #1F2937;
  padding: 150px 20px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header h2 {
  
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

.white-header {
  color: whitesmoke;
}

.green-header {
  color: #4ADF86;
}

.header p {
  color: whitesmoke;
  font-size: 20px;
  margin: 0;
}

.password-length-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px 0;
}

.password-length-input {
  width: 300px;
  margin-top: 10px;
  padding: 10px;
  border: none;
}

.submit-btn {
  border-radius: 15px;
  padding: 10px;
  border: none;
  width: 250px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #10B981;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
}

footer {
  display: flex;
  font-size: 20px;
  gap: 50px;
  padding: 20px 0;
}

footer p {
  background-color: #273549;
    color: #55F991;
    margin-right: 10px;
    padding: 10px;
    border-radius: 6px;
    width: 300px;
    font-size: 16px;
}